.Analysis {
    width: 100%;
    padding: 2rem 0 0;
    background-color: #f1f1f1;
}
.DateBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DateBox select:not(:first-child) {
    margin-left: 0.5rem;
}
/** Total Status **/
.TotalStatus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 2rem 0;
}

/** Table **/

.TableBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 2rem;
}

@media only screen and (max-width: 768px) {
    .TableBox {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 576px) {
    .TotalStatus {
        grid-template-columns: 1fr;
        padding: 2rem 0.5rem;
    }
    .TableBox {
        padding: 2rem 0.5rem;
    }
}
