.Form {
    width: 100%;
    padding: 3rem;
    background-color: #f1f1f1;
}
.Form form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2rem 3.5rem;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.8rem 0 rgba(58, 59, 69, 0.2);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.Form form h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: "Fredoka One", cursive;
}
.Form input,
select {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    outline: #6a41ff;
}
.Form .FormElement {
    display: flex;
    flex-flow: column;
}
.Form label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.Form .button {
    align-self: center;
    font-size: 1.5rem;
    border: none;
    padding: 1rem 2rem;
    background-color: #6a41ff;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.Form .disable {
    cursor: not-allowed;
}

/** Select **/
.DateBox select:not(:first-child) {
    margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .Form form {
        width: 90%;
    }
    .Form {
        padding: 1rem;
    }
}
@media only screen and (max-width: 576px) {
    .Form form {
        width: 100%;
    }
}
