.Home {
    width: 80%;
    margin: 0 auto;
    height: calc(90vh - 9rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.HomeText {
    flex: 1;
    animation: slideInLeft 1s ease;
    -webkit-animation: slideInLeft 1s ease;
}
.HomeText h1 {
    font-family: "Fredoka One", cursive;
    font-size: 5rem;
}
.HomeText p {
    font-size: 2rem;
    color: rgb(77, 77, 77);
}
.HomeText button {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #fff;
    padding: 1.2rem 2rem;
    background-color: #6a41ff;
    border: none;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
}
.HomeImg {
    flex: 1;
    animation: slideUp 1s ease;
    -webkit-animation: slideUp 1s ease;
}
.HomeImg img {
    width: 100%;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(40%);
        -webkit-transform: translateY(40%);
        -moz-transform: translateY(40%);
        -ms-transform: translateY(40%);
        -o-transform: translateY(40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@media only screen and (max-width: 992px) {
    .Home {
        width: 90%;
    }
}
@media only screen and (max-width: 768px) {
    .Home {
        width: 100%;
        padding: 1rem 2rem;
        flex-direction: column;
        height: auto;
    }
    .HomeText {
        padding: 0 1rem;
    }
    .HomeImg {
        width: 35rem;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 576px) {
    .HomeText h1 {
        font-size: 4.5rem;
    }
}
@media only screen and (max-width: 380px) {
    .HomeImg {
        width: 27rem;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .Home {
        width: 100%;
        padding: 1rem 2rem;
        flex-direction: column;
        height: auto;
    }
    .HomeText {
        padding: 0 1rem;
    }
    .HomeImg {
        width: 35rem;
        margin: 0 auto;
    }
}
