.Panel {
    padding: 0 1rem 1rem;
}
/** Profile **/
.Profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.ProfileImage {
    overflow: hidden;
    width: 4.2rem;
}
.ProfileImage img {
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.ProfileText {
    padding: 2rem 1rem;
}
.ProfileText span {
    color: #777;
    font-size: 1.2rem;
}

/** List **/
.ListBox {
    padding: 0 3rem;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ListBox footer {
    text-align: center;
    font-size: 1.3rem;
}
.ListBox footer a {
    text-decoration: none;
    color: #6a41ff;
}

.ListItem {
    padding: 1rem 0;
}

.ListItem ion-icon {
    font-size: 2.5rem;
}
.ListItem a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: inherit;
    text-decoration: none;
}
.ListItem a.active {
    color: #6a41ff;
}
