/** Table **/

table {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.15rem 0.5rem 0 rgba(58, 59, 69, 0.2);

    font-size: 1.6rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    text-align: left;
}

tbody {
    display: block;
    height: 32rem;
    overflow-y: scroll;
}
tbody p {
    width: 100%;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}
thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    font-size: 1.7rem;
}

caption {
    text-align: left;
    font-size: 2rem;
    font-family: "Fredoka One", cursive;
    margin-bottom: 1rem;
}
th {
    padding: 0.5rem;
}
.light {
    background-color: rgba(0, 0, 0, 0.05);
}
.No {
    width: 3.5rem;
}
@media only screen and (max-width: 576px) {
    table {
        font-size: 1.5rem;
    }
}
