.Dashboard {
    width: 100%;
    height: calc(100vh - 9rem);
    display: grid;
    grid-template-columns: 27rem 1fr;
}

@media only screen and (max-width: 992px) {
    .Dashboard {
        grid-template-columns: 1fr;
        height: auto;
    }
}
